@page
@model Week5.FrontEnd_Layer.Pages.Students.StudentListModel
@{
    ViewData["Title"] = "Student List";
}

<h1>Student List</h1>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Surname</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var student in Model.Students)
        {
            <tr>
                <td>@student.StudentID</td>
                <td>@student.StudentName</td>
                <td>@student.StudentSurname</td>
            </tr>
        }
    </tbody>
</table>
