@page
@model Week5.FrontEnd_Layer.Pages.Students.StudentList
@{
    ViewData["Title"] = "Student List";
}

<h1>Student List</h1>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Age</th>
            <th>Major</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var student in Model.Students)
        {
            <tr>
                <td>@student.Name</td>
                <td>@student.Age</td>
                <td>@student.Major</td>
            </tr>
        }
    </tbody>
</table>
